apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: deltran
spec:
  template:
    spec:
      containers:
      - name: gateway
        resources:
          requests:
            cpu: "1000m"
            memory: "1Gi"
          limits:
            cpu: "4000m"
            memory: "4Gi"
